/* 基础样式 */
html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-family: Arial, sans-serif;
	user-select: none; /* 禁止选中文本 */
}

.container {
	width: 100%;
	height: 100%;
	position: relative; /* 用于子元素绝对定位 */
	overflow: hidden;
}


/* 顶部栏样式 */
.top-bar {
	width: 100%;
	height: 30px;
	top: 0px;
	line-height: 30px;
	padding-top: 5px;
	align-items: center;
    vertical-align:middle;
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	gap: 5px; /* 设置元素之间的间距 */
}


/* 按钮和下拉框样式 */
.debug-button {
    position: fixed;
    top: 5px;
    right: 10px;
	z-index: 1000;
}

.trackSelect{
	height: 25px;
	border-width: 2px;
}

option{
	background-color: #282828;
    -webkit-appearance: none!important; /* 移除默认的样式 */
    -moz-appearance: none!important; /* 移除默认的样式 */
    appearance: none!important; /* 移除默认的样式 */
	border-radius: 0!important; /* 将边框半径设置为0，确保边框为直角 */
	border: 1px solid black!important;
}

/* 文本区域样式 */
.text-area {
	width: 100%;
	height: calc(100% - 125px); /* 自动计算剩余空间，高度不超过面板高度减去顶部和底部按钮的空间 */
	padding: 10px;
	font-size: 16px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	resize: none; /* 禁止手动调整大小 */
	position: absolute;
	top: 60px; /* 从顶部开始 */
	bottom: 50px; /* 留出底部空间给按钮 */
	white-space: pre-wrap; /* 自动换行 */
	word-wrap: break-word; /* 确保长单词或 URL 换行 */
	overflow-y: auto;

	margin-top: 15px;
	user-select: text; /* 允许选中文本 */
}

.confirm-button {
	width: 100%;
	height: 50px; /* 固定按钮高度 */
	font-size: 18px;
	background-color: #007BFF;
	color: white;
	border: none;
	cursor: pointer;
	text-align: center;
	box-sizing: border-box;
	position: absolute;
	bottom: 0;



}

.confirm-button:hover {
	background-color: #0056b3;
}


/* 杂项 */
a {
	color: white;
	margin-left: 10px;
	margin-right: 10px;
}

.inline{
	display: inline;
}

.textStyle {
	font-size: 12px;
	color: #ffffff;
	
}


/* 提示框样式 */
.alertBox {
    display: none; /* 默认隐藏 */
    position: fixed; /* 固定定位 */
    top: 50%; /* 垂直居中 */
    left: 50%; /* 水平居中 */
    transform: translate(-50%, -50%); /* 通过平移实现真正的居中 */
    background-color: rgba(0, 0, 0, 0.8); /* 半透明背景 */
    color: #ffffff; /* 文字颜色 */
    padding: 20px; /* 内边距 */
    border-radius: 10px; /* 圆角边框 */
    z-index: 1000; /* 确保提示框在最上层 */
    text-align: center; /* 文字居中 */
    opacity: 1; /* 初始透明度 */
    transition: opacity 1s ease-out; /* 透明度过渡效果 */
}

.alertContent {
    margin: 0;
}

.alertText {
    font-size: 14px;
	word-wrap: break-word; /* 确保长单词或 URL 换行 */
}